@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 100%;
  margin: 0 auto;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 12px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}
.slider-wrapper {
  overflow: hidden;
  width: 100%;
}
.slider-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
.slider-container > div {
  min-width: calc(100% / 6);
}
.item-container {
  text-align: center;
}
.image-rotate {
  transition: transform 0.5s ease-in-out;
}
.text-change {
  transition: color 0.3s ease-in-out;
}
.item-container:hover .image-rotate {
  transform: rotateY(360deg);
}
.item-container:hover .text-change {
  color: #00b7c0;
}

.clip-path-parallelogram {
  clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
}

.toast-top-right-custom {
  top: 70px;
  right: 0; /* Thay đổi giá trị này để điều chỉnh độ cao */
}


